Input{
    border:0px !important;
    border-bottom:2px solid darkblue !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    color: darkblue !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: larger !important;

}

input:focus{
  box-shadow: none !important ;
}
::placeholder{
    color: darkblue !important;
}